// Colors
$color-primary-dark: #1976D2;
$color-primary: #2196F3;
$color-primary-contrast: white;

$color-accent: #F6921F;
$color-accent-contrast: #BBDEFB;

$tac-grey: #e0e0e0;
$tac-code-background: #f7f7f7;

// Dimensions
$side-nav-width: 240px;
$layout-large-screen: 840px;
